.header {
  padding: 1rem 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 512px) {
  .header {
    padding: 1rem 1rem;
  }
}

.websiteTitle {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.nav {
  display: flex;
  gap: 0.8rem;
  width: fit-content;
  margin: 0.3rem 0;
  font-size: 1.3rem;
  flex-wrap: wrap;
}

.navItem a {
  font-size: 1.5rem;
  color: var(--color-black);
  font-weight: 400;
}

.navItem a:hover {
  text-decoration: underline;
}
