.projectGrid {
    width: 100%;
    display: grid;
    gap: 1.2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-flow: dense;
}

.projectTile {
    border: var(--border-width) solid var(--color-primary);
    box-shadow: 5px 5px var(--color-primary);
    cursor: pointer;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 180px;
    padding: 1rem;
}

.projectTile:hover {
    box-shadow: 0 0 var(--color-primary);
    transform: translate(5px, 5px);
}

.isSelected {
    box-shadow: none;
    transform: translate(5px, 5px);
}

.fullWidthTile {
    border: var(--border-width) dashed var(--color-primary);
    grid-column: 1 / -1;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 180px;
    padding: 1rem;
    /* animations currently are a bit janky */
    /* transition: transform 0.4s ease;
    transform: scaleY(1);
    transform-origin: top; */
}

/* hiding animation */
.isHidden {
    transition: transform 0.4s ease;
    transform-origin: top;
    transform: scaleY(0);
}

.displayNone {
    display: none;
}

.fullWidthDescription li {
    margin-left: 1.2rem;
}

.fullWidthDescription p, .fullWidthDescription ul, .fullWidthDescription ol {
    margin-bottom: 1rem;
}

.fullWidthDescription li {
    margin-bottom: 0.4rem;
}

.tileContent {
    width: 100%;
}

/* .tileContent > div {
    margin-bottom: 1rem;
} */

.tileImageDiv {
    float: right;
    margin: 0px 0px 24px 24px;
    border: var(--border-width) solid var(--color-primary);
    box-shadow: 3px 3px var(--color-primary);
    width: 400px;
    max-width: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tileImage {
    width: 100%;
}

.tileHeader {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    height: auto;
    margin-bottom: 0.5rem;
}

.fullWidthHeader {
    margin-bottom: 1rem;
}

.tileDescription {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    font-size: 1.1rem;
    line-height: 1.4rem;
}

.fullWidthFooter {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 0.7rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}