.errorPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 56vh;
}

.heading {
  font-size: 3rem;
}

.subheading {
  font-size: 1.5rem;
}

.subheading a {
  text-decoration: underline;
}
