{% if site.reacts and page.comments %}
<div class="reacts">
  <h5>Reacc</h5>
  <p class="totalCount"></p>
  <div class="react-buttons">
    <div class="react-div">
      <button
        type="button"
        class="btn btn-outline-secondary"
        data-toggle="button"
        aria-pressed="false"
        autocomplete="off"
        id="likeBtn"
      >
        👍 Like
      </button>
      <p class="likeCount"></p>
    </div>
    <div class="react-div">
      <button
        class="btn btn-outline-secondary"
        data-toggle="button"
        aria-pressed="false"
        autocomplete="off"
        id="laughBtn"
      >
        😆 Laugh
      </button>
      <p class="laughCount"></p>
    </div>
    <div class="react-div">
      <button
        class="btn btn-outline-secondary"
        data-toggle="button"
        aria-pressed="false"
        autocomplete="off"
        id="loveBtn"
      >
        😍 Love
      </button>
      <p class="loveCount"></p>
    </div>
    <div class="react-div">
      <button
        class="btn btn-outline-secondary"
        data-toggle="button"
        aria-pressed="false"
        autocomplete="off"
        id="surprisedBtn"
      >
        😮 Surprised
      </button>
      <p class="surprisedCount"></p>
    </div>
    <div class="react-div">
      <button
        class="btn btn-outline-secondary"
        data-toggle="button"
        aria-pressed="false"
        autocomplete="off"
        id="angryBtn"
      >
        😤 Angry
      </button>
      <p class="angryCount"></p>
    </div>
    <div class="react-div">
      <button
        class="btn btn-outline-secondary"
        data-toggle="button"
        aria-pressed="false"
        autocomplete="off"
        id="sadBtn"
      >
        😥 Sad
      </button>
      <p class="sadCount"></p>
    </div>
  </div>
</div>

<script type="module">
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.19.1/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.19.1/firebase-analytics.js";
  import {
    getFirestore,
    FieldValue,
    collection,
    doc,
    updateDoc,
    increment,
    getDoc,
    onSnapshot,
  } from "https://www.gstatic.com/firebasejs/9.19.1/firebase-firestore.js";

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  var firebaseConfig = {
    apiKey: "AIzaSyC_2RDdxV3ShObX1G8FpOiuIOLpHwtwRGw",
    authDomain: "blog-reacts.firebaseapp.com",
    projectId: "blog-reacts",
    storageBucket: "blog-reacts.appspot.com",
    messagingSenderId: "186133183760",
    appId: "1:186133183760:web:5880ff7839a80d42557995",
    measurementId: "G-ERK7C98S4X",
  };
  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  getAnalytics();

  var db = getFirestore();
  const postRef = doc(db, "reacts", slugify(window.location.pathname));

  const possibleReacts = ["like", "laugh", "love", "surprised", "angry", "sad"];

  // buttons to trigger react or unreact
  for (const react of possibleReacts) {
    const btn = document.querySelector(`#${react}Btn`);
    btn.addEventListener("click", (e) => {
      // ariaPressed appears to return the previous state
      const action =
        e.target.ariaPressed == "true" ? increment(-1) : increment(1);

      const payload = { total: action };
      payload[react] = action;
      updateDoc(postRef, payload).catch((error) => {
        // undo toggle button if react didn't register in database
        btn.classList.toggle("active");
        btn.ariaPressed = btn.ariaPressed == "true" ? "false" : "true";
        console.error(error);
      });
    });
  }

  // update the counts for each react
  function updateCounts(countData) {
    document.querySelector(".totalCount").textContent = countData.total
      ? countData.total
      : 0;
    document.querySelector(".totalCount").textContent +=
      countData.total == 1 ? " response" : " responses";
    for (const react of possibleReacts) {
      document.querySelector(`.${react}Count`).textContent = countData[react]
        ? countData[react]
        : 0;
    }
  }

  // update as soon as page loads
  getDoc(postRef).then((doc) => {
    updateCounts(doc.data());
  });

  // update counts whenever the like counts change
  onSnapshot(postRef, (doc) => {
    updateCounts(doc.data());
  });
</script>
{% endif %}
